html {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100% !important;
}

@media(max-width: 500px){
    html{
        font-size: 10px;
    }
}

.mainDiv{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 25px;
    width: 50%;
    height: 100% !important;
    padding: 0;
    padding-top: 5%;
    
}

.textos-cadastro{
    width: 80%;
}
.titulo-cadastro{
    margin: 0 auto;
    
}
.subtitulo-cadastro{
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}

.legenda-cadastro{
    margin-top: 3em;
    line-height: 1;
    font-weight: 350;
}

.input{
    border-style: none;
    background-color: #ebebeb !important;
}

.form-cadastro{
    text-align: left;
}
.form-cadastro label{
    font-size: 1.2em;
    color: #8E8E8E;
}
.div-formulario-cadastro{
    width: 80%;
    margin: 0 auto;
    margin-top:3em;
}

.form-nome{
    display: flex;
}

.inputEmail {
    background-color: #E0E0E0 !important;
}

label{
    font-size: 100% !important;
}

#botaoCadastrar{
    display: flex;
    justify-content: center;
    font-weight: 500;
    color:#9B3737;
    font-size: 15px;   
    padding: 0  ;
    width: 274px;
    height: 30px;
    border-radius: 25px;
    background-color: transparent;
    border-color: #9B3737;
}

#botaoCadastrar:hover{
    width:300px;
    background-color:rgba(155, 55, 55, 15%);
    border-color: red;
    color:#9B3737;
    transition: 0.5s;
}