html {
  width: 100%;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upload_dropZone {
  color: #9B3737;
  outline: 2px dashed #9B3737;
  outline-offset: -12px;
  transition: outline-offset 0.2s ease-out, outline-color 0.3s ease-in-out, background-color 0.2s ease-out;
}


  .upload_dropZone.highlight {
      outline-offset: -4px;
      outline-color: #9B3737;
      background-color: #9B3737;
  }

.upload_svg {
  fill: #9B3737;
}

.btn-upload {
  color: #fff;
  background-color: #9B3737;
}

  .btn-upload:hover,
  .btn-upload:focus {
      color: #fff;
      background-color: #9B3737;
  }

.upload_img {
  width: calc(100% - (2rem / 2));
  object-fit: contain;
}
@media(max-width: 641px) {
  html {
      width: 100%;
      font-size: 10px;
  }

  .divHomePrincipal {
      width: 100% !important;
  }

  .divHomePrincipalPostagens {
      width: 100% !important;
  }

  .post-nome {
      font-size: 1.3em !important;
  }

  .post-curso {
      font-size: .9em !important;
  }
}

@media(max-width: 385px) {
  html {
      width: 100%;
      font-size: 8px !important;
  }

  .divHomePrincipal {
      width: 100% !important;
  }
}

a {
  text-decoration: none;
  color: black;
}

.search-area {
  width: 100%;
  padding: 0;
  justify-content: left;
}

.searchArea {
  width: 300px;
  height: 3em;
  border-radius: 100px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: 15%;
  align-items: center;
  transition: all 0.5s ease-in-out;
}




.divProfile {
  width: 15em;
  background-color: #F6F6F6;
  border-radius: 50px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left:0;
}

.btn-profile {
  width: 100%;
}


.dropdown-menu {
  text-align: center;
  width: 100%;
  border-end-start-radius: 25px;
  border-end-end-radius: 25px;
  background-color: #F6F6F6;
  border-style: none;
  top: 90% !important;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #9b373752;
}

.animate {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}


.removeBordaMenu {
  transition: 0.5s !important;
  border-start-start-radius: 25px !important;
  border-start-end-radius: 25px !important;
  border-end-start-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

.adicionaBordaMenu {
  transition: 0.5s !important;
  border-end-start-radius: 50 !important;
  border-end-end-radius: 50 !important;
}

@keyframes slideIn {
  0% {
      transition: 1s !important;
      opacity: 0;
  }

  100% {
      transition: 1s !important;
      opacity: 1;
  }

  0% {
      transition: 1s !important;
      opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
      transition: 1s !important;
      -webkit-opacity: 0;
  }

  100% {
      transition: 1s !important;
      -webkit-opacity: 1;
  }

  0% {
      transition: 1s !important;
      -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Parte do index Home */
.divHomePrincipal, .divHomePrincipalPostagens {
  justify-content: center;
  margin-top: 25px;
  display: flex;
  width: 45%;
}

main {
  height: 100%;
  background-color: #fafafa;
}

.divPost {
  width: 100%;
  height: 136px;
  margin-top: 2%;
  border-radius: 24px;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  background-color: white;
  display: flex;
}

.divPoste {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  margin-top:2%;
  padding-top:1%;
}

.divPostar {
  width: 75%;
  height: 50%;
  display: flex;
  align-items: center;
  border-radius: 100px;
  font-size: 1.5em;
  padding-left: 5%;
  margin-left: 10px;
  background-color: white;
}

.divPostagem {
  display: flex;
  margin-top: 2%;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  margin-bottom: 2%;
  display: flex;
  padding:0 5% 0 5%;
  background-color: white;
}

.divPostar {
  border-style: solid !important;
  border-width: 1px;
  border-color: #d6d6d6 !important;
  color: #9A9A9A;
  font-weight: 400;
}

  .divPostar:hover {
      background-color: rgb(215, 215, 215);
      transition: 0.5s;
      color: #8a8a8a;
  }

.divPicPostagem {
  
  width: 80px;
  height: 80px;
}

.pic-post {
  width: 100PX;
  height: 100%;
}




footer {
  display: flex;
}

.divPostagemInfo {
  padding-left: 5%;
}

.post-nome {
  color: #757575;
  font-size: 1.8em;
  font-weight: 500;
}

.post-curso {
  color: #A6A6A6;
  font-size: 100%;
}

.post-tempo {
  color: #A6A6A6;
  font-size: 100%;
}

.post-conteudo {
  color: #838383;
  padding-top: 2%;
  margin-left: 2%;
  width: 95%;
  text-align: justify;
  font-size: 1.5em;
}

  .post-conteudo:hover {
      color: #838383;
  }

.botoesPost {
  padding-top: 2%;
  margin-bottom: 5%;
  align-items: left;
}


.modal-dialog {
  width: 80%;
}
.divPostagemInfos{
  padding: 0 5% 0 5%;
}
.post-btnLike, .post-btnComentar, .post-btnCompartilhar {
  background-color: #fafafa;
  border-radius: 1vh;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  font-size: 1em;
  width: 100%;
  height: 100% !important;
  color: #9F9F9F;
}

  .post-btnLike:hover, .post-btnComentar:hover, .post-btnCompartilhar:hover {
      background-color: #dbdbdb;
      transition: 1s;
      color: black;
      font-weight: 400;
  }

.svg-like-gostei {
  color: #9F9F9F !important;
  margin-left: 2em;
  width: 28px;
  height: 28px;
}

.post-qtdLike {
  color: #757575;
  font-weight: lighter;
  font-size: 1.2em;
}

  .post-qtdLike:hover {
      color: black;
      cursor: default;
      font-weight: 400;
      transition: 1.5s;
  }

a:hover, p:hover {
  color: black;
}

.modal-content {
  margin-left: 8%;
  margin-top: 20%;
  border-radius: 25px;
}


.divModal {
  display: flex;
}


.txtPublicacao {
  border-style: none;
}


.img-post {
  margin-bottom: 2%;
}


.navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

hr {
  margin-top: 3%;
  border-radius: 10px;
  border-top: 5% solid #a7a7a7;
}

/*Seção comentários*/

.pic-post.comentario {
  width: 10em;
  height: auto;
  margin: 0 0 0 0;
  padding: 0.3em;
}

.divComentariosPrincipal {
  height: auto;
  width: 100%;
  background-color: #fafafa;
  margin-left:0;
  margin-right:auto;
  padding:0;
}
.divComentarios {
  margin-right: 0px;
  margin-left: auto;
  width: 88%;
  padding: 0;
}

.post-nome.comentario {
  font-size: 1em;

}
.post-tempo.comentario {
  font-size: 0.8em;

  
}
.post-curso.comentario {
  font-size: 0.8em;
}
.post-comentarios.comentario {
  font-size: 1em;
  padding-top: 2%;
  margin-left: 2%;
  width: 95%;
  text-align: justify;
}

div.divPicPostagem.comentario {
  width: 10%;
  height: auto;
  margin: 0 0 0 0;
  padding: 0;
}

.divPic{
  margin-left:0;
  margin-right: auto;
  width: 15% !important;
  display: grid;
  justify-content: center;
}

.hr{
  color:#bebebe;
  background-color: #bebebe ;
  height: 2px;
  border-radius: 100px;
}