html{
    width: 100%;

}

.search-area{
    width: 100%; 
    padding: 0;

}


.searchArea{
    width:15em;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    align-items: center;
}

.searchArea:focus{
    width: 20em;
    transition: all 0.5s ease-out;

}

.divProfile{
    width: 15em;
    background-color: #F6F6F6;
    border-radius: 50px;
    
}

.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.btn-profile{
    width: 100%;
}

.dropdown-menu{
    text-align: center;
    width: 100%;
    border-end-start-radius: 25px;
    border-end-end-radius: 25px;
    background-color: #F6F6F6;
    border-style: none;
    top:90% !important;
}



.removeBordaMenu{
    border-start-start-radius: 25px !important;
    border-start-end-radius: 25px !important;
    border-end-start-radius: 0 !important;
    border-end-end-radius: 0 !important;
}
.adicionaBordaMenu{
    border-end-start-radius: 50 !important;
    border-end-end-radius: 50 !important;
}